{{page-title "Scientists"}}

<h2>List of scientists</h2>

<ul>
    {{#each @model as |scientist|}}
    <li>{{scientist}}</li>
    {{/each}}
</ul>
<PeopleList
  @title="List of Scientists"
  @people={{@model}}
/>
<PeopleList
  @title="List of famous Programmers"
  @people={{@model}}
/>